services:
  postgres-db:
    image: postgres:15
    container_name: file_storage_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d file_storage_db"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    container_name: file_storage_minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    restart: unless-stopped

  app-service:
    build: .
    container_name: file_storage_api
    env_file:
      - .env
    depends_on:
      postgres-db:
        condition: service_healthy
      minio:
        condition: service_started
    ports:
      - "8080:8080"
    environment:
        DB_HOST: ${DB_HOST}
        DB_PORT: ${DB_PORT}
        DB_NAME: ${DB_NAME}
        DB_USER: ${DB_USER}
        DB_PASSWORD: ${DB_PASSWORD}
        STORAGE_PROVIDER: ${STORAGE_PROVIDER}
        BOOTSTRAP_API_KEY: ${BOOTSTRAP_API_KEY}
        MINIO_URL: ${MINIO_URL}
        MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
        MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
        MINIO_BUCKET: ${MINIO_BUCKET}
        LOCAL_STORAGE_PATH: ${LOCAL_STORAGE_PATH}
    restart: unless-stopped
